header {
    background-color: black;
    color: white;
    padding: 1rem;
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-icons {
        width: 30px;
        height: auto;
    }
    .logo {
        width: 200px;
        height: auto;
    }
}